.project {
  width: 80%;
  position: relative;
  top: 80px;
  margin: auto;
  padding: 10px;
  /* border: 2px solid red; */
  font-family: monospace;
  /* border: 2px solid red; */
  font-family: "Courier New", Courier, monospace;
}
.project h1 {
  text-align: left;
 padding: 20px; 
 margin: 10px;
}

.project .p-card {
  display: flex;
  /* border: 2px solid green; */
  gap: 30px;
  
  flex-direction: column;
}
.project span {
  font-size: 0.9rem;
}

@media only screen and (max-width: 767px) {
  .project {
    width: 90%;
    padding: 0;
  }
  .project h1 {
    font-size: 1.5rem;
    padding: 15px 15px;
    /* border: 2px solid red; */
    margin: 20px 0;
  }
 
}
