
.skills {
  position: relative;
  top: 80px;
  width: 80%;
  margin: auto;
  z-index: -1;
  /* border: 2px solid rebeccapurple; */
  padding: 3rem 0;
}
.skills .skill-list{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  justify-content: center;
  gap: 15px;
  margin-top: 1rem;
  align-items: center;
  /* border: 2px solid red; */
  padding: 2rem;

}
.skill-card{
  width:fit-content;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* border: 2px solid red; */
}
.skills .skill-card img{

    width: 70px;
    height: 70px;
    padding: .5rem;

}
.skills .heading{
  text-align: left;
  font-size: 2rem;
  margin: 20px;
  padding: 10px;
}
.skills .swiper {
  width: 60%;
  border-radius: 10px;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width:767px) {
  .skills{
    width: 90%;
  }
  .skills .skill-list{
    width: 100%;
    padding: .5rem 0;
    grid-template-columns: repeat(auto-fit, minmax(90px, auto));
  }
  .skill-list .skill-card img{
    width: 60px;
    height: 60px;
  }
}