.abt{
  background-image: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgb(83, 91, 235),rgb(76, 11, 174));

  height: 80vh;
}
.about {
  width: 80%;
  position: relative;
  top: 20px;
  margin: 0 auto;
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: center;
  color: white;
  border-radius: 10px;
  
  
}
.about h1{
  text-align: left;
  margin: 30px;
}
.about .about-box{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction:row;
  justify-content: center;
  gap: 20px;
}
.loading {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.about-content {
  /* border: 2px solid black; */
  width: 50%;

}


.about-info{
  text-align: left;
  padding: 10px;
  
}

.about-info {
  text-align: left;
  font-size: 1.1rem;
  line-height:1.5;
  letter-spacing:1.2;
  margin: 20px 10px;
}
.about-box .about-right {
  /* border: 2px solid black; */
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-box .about-right img {
  max-width: 250px;
  border-radius: 30px;
}
.about-right img::before {
  content: "";
  background-image: linear-gradient(180deg, red, yellow);
  animation: rotate 3s linear infinite;
}
.about-right img::after {
  content: "";
  inset: 8px;
  background-image: blue;
  border-radius: inherit;
}

@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}
.about-left button {
  border: 1px solid white;
  background: none;
  color: white;
  padding: 5px 30px;
  width: fit-content;
  margin: 20px 20px;
  border-radius: 30px;
  font-size: 1rem;
}

@media only screen and (max-width: 1024px) {
  .about {
    width: 90%;
    padding: 10px 0;
    flex-direction: column;
    margin: 0 auto;
    
  }
  .about h1{
    margin: 30px 10px;
    font-size: 1.5rem;
  }
  .about .about-box {
    /* border: 2px solid green; */
    width: 100%;

    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .about .about-right{
    width: 100%;
    justify-content: center;
  }

  .about-info{
    font-size: 1rem;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
  }
  .about-right img{
    width: 60%;
    display: none;
  }
  .about-content{
    width: 95%;
  }
}
