@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
.navigation {
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 2px 4px rgba(9, 9, 9, 0.23);
  transition: all 500ms ease-in-out;
  border-bottom: 2px solid black;
  margin: 0px auto;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 0;
  z-index: 1;
  background-color: #2c2c2d;
  /* border: 2px solid darkred; */
  font-weight: 300;
  color: white;
  /* border-radius: 0 0 10px 10px; */
}

.brand-name {
  font-family: monospace;
  text-decoration: none;
  color: white;
  font-family: "Protest Revolution", sans-serif;
  font-size: 1.5rem;
  margin-left: 4rem;
}
.brand-name img {
  width: 100px;
}
.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  margin-right: 4rem;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: white;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}

@media screen and (max-width: 768px) {
  .navigation {
    height: 45px;
  }
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;
  }
  .brand-name {
    margin-left: 2rem;
  }
  .navigation-menu ul {
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    flex-direction: column;

    width: 99%;
    margin: auto;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(37, 37, 37);

    /* border-top: 1px solid black; */
    box-shadow: 0 2px 2px 4px rgba(9, 9, 9, 0.23);
    transition: all 500ms ease-in-out;
    border-bottom: 2px solid black;
    /* border: 1px solid red; */
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: white;

    width: 100%;
    padding: 1rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
    color: black;
  }
  .navigation-menu li a:hover {
    background-color: #eee;
    color: black;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}
