.footer{
    /* width: 90%; */
    /* border-top: 2px solid red; */
    padding: 10px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 30px auto 0;
    color: white;
    box-shadow: 4px 2px 2px 4px rgba(9, 9, 9, 0.23);
  transition: all 500ms ease-in-out;
  /* border-top: 2px solid black; */
  border-radius: 10px 10px 0 0;
}