@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Noto+Sans+Mono:wght@300&family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
* {
    margin: 0;
    padding: 0;
  font-family: "JetBrains Mono", monospace;
  font-family: "Noto Sans Mono", monospace;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: n;
  
}
body{
  background-color: rgb(37, 37, 37) ;
  /* background: linear-gradient(90deg, rgba(23,163,76,1) 4%, rgba(20,99,203,1) 41%, rgba(174,26,212,1) 54%, rgba(233,113,40,1) 84%);  */
  color: white;
 
}
